<h1><%= @art.title %></h1>
<p  class="min-vh-25"><%= @art.body %></p>
<%= link_to "Edit", edit_article_path, class: "btn btn-outline-warning" %>
<%= link_to "Delete", 'javascript:;', class: "btn btn-outline-danger", data: {method: :delete, confirm: 'Are you sure?'} %>
<%= link_to "Back to list", articles_path, class: "btn btn-outline-secondary" %>
