<!DOCTYPE html>
<html>
  <head>
    <title>BlogApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/articles">Articles</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to "Create new...", new_article_path, class: "btn btn-outline-warning" %>
            </li>
          </ul>
          <form class="d-flex">
            <%= link_to "Github", "https://github.com/lataniuk/rubyapi", class: "btn btn-outline-success", target: "_blank"%>
          </form>
        </div>
      </div>
    </nav>
    <main class="container mb-5">
    <%= yield %>
    </main>
  </body>
</html>
